# Ignore all files and directories
*


!attributes.csv
!dask_parameters.csv
!encoding.csv
!slurm_parameters.csv
!variable_parameters.csv

# Not the .gitignore
!.gitignore

# Don't ignore readme
!README.txt

# Don't ignore test_run directory (used as an example)
!test_run
!test_run/*

# Don't ignore MRI-stitches-experiment directory (used as an example)
!MRI-stitches-experiment
!MRI-stitches-experiment/*

# Don't ignore test_data
!test_data
!test_data/*
!test_data/obs/*
!test_data/sim/*
!test_data/obs/hurs/*
!test_data/obs/pr/*
!test_data/obs/prsnratio/*
!test_data/obs/ps/*
!test_data/obs/rlds/*
!test_data/obs/rsds/*
!test_data/obs/sfcWind/*
!test_data/obs/tas/*
!test_data/obs/tasmax/*
!test_data/obs/tasmin/*
!test_data/obs/tasrange/*
!test_data/obs/tasskew/*

